

body {
    background-image: url('../images/green-forest-background-idkxn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.alignment {
    height: 100vh;
}

h1{
    color: white;
    text-align:center;
}

p {
    color: white;
    text-align: center;
}

.btn {
    background-color: greenyellow;
    font-size: 24px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: 1px;
    outline: none;
    
    
}
.btn:hover {
    background-color: bisque;
}

.bg-img-1 {
    background-image: url("../images/Adams-StoryImage_2.jpg");
}
.bg-img-2 {
    background-image: url('../images/NKinsman-StoryImg_2.jpg');
}
.bg-img-3 {
    background-image: url('../images/Jackson-StoryImg.jpg');
}

.carousel-image {
    height: 100vh;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container {
    background-color: rgba(80, 80, 80, 0.5);
    width: 30vw;
    border-radius: 30px;
    
}
